/*                            Color Classes                             */

.color-black {
    color: $color-black;
}

.color-black-bg {
    background: $color-black;
}

.color-pink {
    color: $color-pink;
}

.color-pink-bg {
    background: $color-pink;
}

.color-gray {
    color: $color-gray;
}

.color-gray-bg {
    background: $color-gray;
}